/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
  }
  
  .bg-dark {
    background-color: #ffffff!important;
}

:root{

  --black:rgb(27, 27, 27);
  --grey:rgb(180, 180, 180);
  --green:rgb(19,168,74);
  --blue:rgb(0, 60, 255);
  --yellow:rgb(255, 241, 44);
  --red:rgb(216, 46, 46);

}

nav{

  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.151);

}

nav a{
  color: #13a84a!important;
}
nav h1{
  color: #13a84a!important;
}


nav a:hover{
  color: white!important;
}

.nav-link:hover{
  background-color: #13a84a;
  border-radius: 20px;
  box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.384);
  transition: 150ms;
}

.imgPrincipal{
  background-image: url(./img/valedoflamboyant-capa.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  width: 100%;
  height: 600px;
  z-index: 1;
  position: relative;
  margin:0px!important;
}

.imgPrincipal h1{
  color:white;
  position: absolute;
  top: 480px;
  left: 100px;
  z-index: 5;
  font-size: 70px;
  text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
}

/* DEMO-SPECIFIC STYLES */
/* .typewritter h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
} */

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 40% }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: #ffffff3d }
} */

#subirTopo{
  z-index: 9;
	position:fixed;
	bottom:0px;
  right:0px;
  margin-right: 10px;
}

#nossasPropostas{
background-color: #13a84a;

}


#nossasPropostas{
  color: white;
}

#menbrosChapaRenovar h4{
  width: max-content;
}


.green-text{
  color: var(--green);
}

footer{
  width: 100%!important;
  background-color: #47793f;
  margin:  0px!important;
  
}

footer p{
  color:white;
}
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  @media only screen and (max-width: 655px) {
    .imgPrincipal h1{
      top: 500px;
      left: 50px;
      font-size: 50px;
    }
  }

  @media only screen and (max-width: 440px){
    .imgPrincipal h1{
      top: 450px;
      left: 50px;
      font-size: 50px;
    }
  }

  @media only screen and (max-width: 700px){
    #subirTopo{
      
    }
  }