#contatowpp
{
    background-color: #25432e;
    border-radius: 20px;

    color: white;
}

#btnenviarcomentario{
    text-align: center;
}

#wpptexto1, #wpptexto2 {
    text-align: center;
}

#btnwpp {
    width: 100%;
    text-align: center;
}

.btn-wpp {
    background-color: #13a84a!important;

    width: 50%;
    border: none;
}

.btn-wpp:hover {
    box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.541);
    transition: 150ms;
}

@media only screen and (max-width: 800px) {
    #contato {
        margin-top: 50px;
    }
}